* {
  box-sizing: border-box;
}

.navContainer,
.navContainerLightTheme
{
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navContainer{
  background-color: #24292f;
  color:var(--color-white);
  box-shadow: 0 4px 10px 0px rgb(36 41 47 / 20%);
}

.navContainerLightTheme{
  background-color: var(--color-gray-200);
  color:var(--color-black);
  box-shadow: 0 4px 10px 0px rgb(36 41 47 / 20%);
}

.nav{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1360px;
  min-width: 336px;
}

.titleBox{
  display: flex;
  margin-left: 1rem;
}

.title{
  display: flex;
  margin-left: 1rem;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}

.menu{
  display: none;
}

.category,
.searchBox,
.commonHoverEffect {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  line-height: 2;
  cursor: pointer;
  border-radius: 1rem;
  transition: background-color 0.3s;
}

.commonHoverEffect:hover,
.category:hover,
.label:hover {
  background-color: rgba(74, 83, 95, 0.555);
}

.commonHoverEffect:active,
.category:active,
.label:active {
  background-color: rgba(112, 125, 143, 0.555);
}

.cursor{
  cursor: pointer;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s;
  background-color: transparent;
}

.labelDark {
  color: #ffffff;
}

.labelLight {
  color: #000000;
}

.searchBoxDark {
  color: #ffffff;
}

.searchBoxLight {
  color: #000000;
}

.flex{
  display:flex;
  justify-content: center;
  align-items: center;
}

.navCategory{
  display: flex;
  flex:1 1 0%;
  transition: ease all .5s;
}

.changeTheme{
  appearance: none ;
}

.swapOff{
  position: relative;
}

.cartCount{
  position: absolute;
  top: 0;
  right: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  color: #fed7d7;
  background-color: #e53e3e;
  border-radius: 9999px;
  transform: translate(50%, -50%);
}

.none{
  display: block;
}

@media screen and (max-width: 768px){
  .navCategory{
    display: none;
   }
 .titleBox{
  flex: 1 1 0%;
 }
}

@media screen and (max-width: 488px){
  .nav{
    justify-content: space-between;
  }
  .none{
    display: none;
  }
 }